@model ProjectDeployment1.Models.Registration

@{
    ViewData["Title"] = "Details";
}

    <h3> @Html.DisplayFor(model => model.UserFullName)</h3>
    <hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2 border">
            @Html.DisplayNameFor(model => model.UserEmailId)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.UserEmailId)
        </dd>
        <dt class = "col-sm-2 border">
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd class = "col-sm-3 ">
            @Html.DisplayFor(model => model.UserType)
        </dd>
    </dl>
</div>
<hr />
<div>
    <div class="row">
        <div class="col-md-1">
            <a asp-action="Index" class="btn btn-dark btn-block">Back</a>
        </div>
    </div>
     
    
</div>
